
.borde{
    margin-left: 5%;
    margin-right: 5%;
}
.i{
    margin-left: 10%;
    margin-bottom: 2%;
}
.f{
    margin-left: 20%;
    margin-bottom: 2%;
}
.t{
    margin-left: 20%;
    margin-bottom: 2%;
}
.footer{
    margin-top: 3%;
}
.user{
    margin-left: 154%;
}
